<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
        <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    </configSections>

    <appSettings>
    </appSettings>

    <castle>
        <include uri="file://../../properties.config" />
        <include uri="file://../../facilities.config" />
    </castle>

    <activerecord>
        <config>
            <add key="connection.driver_class" value="NHibernate.Driver.SQLite20Driver" />
            <add key="dialect"                 value="NHibernate.Dialect.SQLiteDialect" />
            <add key="connection.provider"     value="NHibernate.Connection.DriverConnectionProvider" />
            <add key="connection.connection_string" value="Data Source=:memory:;Version=3;New=True;" />
        </config>
    </activerecord>
</configuration>