<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<properties>
        <connectionString>Data Source=:memory:;Version=3;New=True;</connectionString>
        <isWeb>false</isWeb>
        <nhibernateDialect>NHibernate.Dialect.SQLiteDialect</nhibernateDialect>
        <nhibernateDriver>NHibernate.Driver.SQLite20Driver</nhibernateDriver>
	</properties>
</configuration>